

.infestor-form{

	padding: 10px 25px;

}


.infestor-field{
	
	position: relative;
	margin: 5px;
	padding: 5px 10px;

}

.infestor-field-label-left{

	padding-bottom: 5px;

}

.infestor-field-label{
	
	display: block;
	padding:0 10px 0 0;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;

}

.infestor-field-content{

    display: block;
}

.infestor-field-input{

	outline: none;
	width: auto;

}