
/* iframe */

.infestor-widget-iframe-panel-head{

	height:30px;

}

.infestor-widget-iframe-panel-title{

	text-indent: 1em;
	vertical-align:center;
	font-weight: bold;
	line-height: 25px;

}

.infestor-widget-iframe-panel-body{

	position:relative;
	overflow:hidden;


}

.infestor-widget-iframe-panel-head-item{

	vertical-align:center;
	line-height:25px;
	padding:0 2px;
	text-decoration: underline;
	cursor:pointer;

}


/* chain-menu */

.infestor-widget-chain-menu{

	width: 36px;

}

.infestor-widget-chain-menu-line{

	width: 36px;
	height: 23px;
	text-align: center;
}

.infestor-widget-chain-menu-line div{

	background-color: #1c62a3;
	width: 6px;
	height: 23px;
	display: inline-block;
	*display: inline;
	*zoom: 1;

}

.infestor-widget-chain-menu-horizon-line{

	width: 23px;
	height: 23px;
	text-align: center;

}

.infestor-widget-chain-menu-horizon-line div{

	background-color: #1c62a3;
	width:23px;
	height:6px;
	display:inline-block;
	*display: inline;
	*zoom: 1;

}

.infestor-widget-chain-menu-node{

	background-repeat:no-repeat;
	background-image: url(../images/chain-node.png);
	height: 36px;
	width: 36px;
	cursor: pointer;

}

.infestor-widget-chain-menu-node-hover{

	background-repeat:no-repeat;
	background-image: url(../images/chain-node-hover.png);
}

/* circular-menu */

.infestor-widget-circular-menu{

	position:fixed;
	top:50px;
	left:50px;
	
	height:36px;
	width:36px;
	
	background-repeat:no-repeat;
	background-image: url(../images/chain-node.png);
}

.infestor-widget-circular-menu-container{

	position:absolute;
	
	top:-36px;
	left:-36px;

	height:108px;
	width:108px;
	
	background-repeat:no-repeat;
	background-color:transparent;

}

.infestor-widget-circular-menu-item{

	height:36px;
	width:36px;
	background-color:transparent;
	background-repeat:no-repeat;
	cursor:pointer;

}

.infestor-widget-circular-menu-item-center{

	background-repeat:no-repeat;
	background-image: url(../images/chain-node-hover.png);
	
}

.infestor-widget-circular-menu-item-north{

	background-color: purple;
}

.infestor-widget-circular-menu-item-south{

	background-color: red;
}

.infestor-widget-circular-menu-item-west{

	background-color: blue;
}

.infestor-widget-circular-menu-item-east{

	background-color: orange;
}

.infestor-widget-circular-menu-item-nw{

	background-color: aqua;
}

.infestor-widget-circular-menu-item-ne{

	background-color: yellow;
}

.infestor-widget-circular-menu-item-sw{

	background-color: green;
}

.infestor-widget-circular-menu-item-se{

	background-color: gray;
}




