 
 .infestor-button{
 
	padding:5px 5px;
	background-color: #8A2BE2;
	color:#FFFFFF;
 }
 
 .infestor-button-body{
 
	vertical-align: middle;
	text-align:center;
	cursor:pointer;
	padding:0 10px;
	font-weight:bold;
 
 }
 
 .infestor-button-head{
 
 
 }
 
 .infestor-button-rear{
 
 
 }
 
 .infestor-button-icon{
 
	padding:0px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:auto;
	
 }
 
 .infestor-button-icon-image{
 
	background-image:url(../images/chain-node-hover.png);
	
 }
 