.infestor-tip {

    padding: 5px 10px;
    display: block;
    cursor:default;
    font-size: 12px;
    color: #666666;
    white-space: normal;
    position: absolute;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    line-height: 22px; /*height: 1%;*/
    z-index: 9999;
    background: #ffffff;
    outline:none;
}

.infestor-tip-content {

	white-space: normal;
	word-break: break-all;
}

.infestor-tip-triangle{

	position: absolute;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-style: dashed solid;
	border-width: 8px;
}

.infestor-tip-triangle-chrome-fix{

	border-width: 9px;

}

.infestor-tip-triangle-mask {

	position: absolute;
	left: -10px;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-style: dashed solid;
	border-width: 10px;
}

.infestor-tip-triangle-bottom{

	left: 8px;
	bottom:-17px;
	border-color: #888 transparent transparent transparent;
}

.infestor-tip-triangle-mask-bottom{
	top: -11px;
	border-color: #fff transparent transparent transparent;
}


.infestor-tip-triangle-top {

	top: -17px;
	left: 8px;
	border-color: transparent transparent #888 transparent;
}

.infestor-tip-triangle-mask-top {
	top: -9px;
	border-color: transparent transparent #fff transparent;
}


.infestor-tip-triangle-vertical-ie8minus-fix{

	border-style:solid dashed;

}


.infestor-tip-triangle-left {
	top: 8px;
	left: -17px;
	border-color: transparent #888 transparent transparent;
}

.infestor-tip-triangle-mask-left{
	top: -10px;
	left: -9px;
	border-color: transparent #fff transparent transparent;
}


.infestor-tip-triangle-right {
	top: 8px;
	right: -17px;
	border-color: transparent transparent transparent #888;
}

.infestor-tip-triangle-mask-right{
	top: -10px;
	left: -11px;
	border-color: transparent transparent transparent #fff;
}
