

.infestor-panel{

	position:relative;

}

.infestor-panel-head{

}

.infestor-panel-body{

	
}

.infestor-panel-rear{

}

.infestor-panel-content{

	height: 100%;
	position: relative;

}

.infestor-panel-title{

	text-indent: 1em;
	height:24px;
	margin-bottom:15px;
	font-size:12px;
	font-weight:bold;
	line-height:24px;
	border-bottom:1px solid;

}

.infestor-panel-control{

	position:absolute;
	right:10px;
	top:10px;

}

.infestor-panel-control-item-horizon{
	
	height:16px;
	width:16px;
	display: inline-block;
	margin-left:10px;
	*display: inline;
	*zoom: 1;
	background-image:url(../images/win-ctrl-icons-16.png);
	background-repeat:no-repeat;
	cursor:pointer;

}

.infestor-panel-control-item-vertical{

	display:block;
	width:16px;
	height:16px;
	margin-bottom:15px;
	background-image:url(../images/win-ctrl-icons-16.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.infestor-panel-control-item-close{

	background-position:-64px -4px;

}

.infestor-panel-control-item-max{

	background-position:-24px -4px;
}

.infestor-panel-control-item-min{

	background-position:-4px -4px;
}

.infestor-panel-control-item-restore{

	display:none;
	background-position:-44px -4px;

}


.infestor-validate-panel{


}

.infestor-validate-panel-title{

	text-indent: 1em;
	height:24px;
	font-size:12px;
	font-weight:bold;
	line-height:24px;

}

.infestor-validate-panel-body{

	padding:10px;
	text-indent: 2em;
	line-height:24px;
	word-wrap: break-word;
	white-space: normal;
	border-radius: 5px;

}

.infestor-validate-panel-error-text{

	color:#FFFFFF;
	background-color:#F00;

}

.infestor-validate-panel-prompt-text{
	
	color:#FFFFFF;
	background-color:#FFA500;

}



