

.infestor-panel{



}

.infestor-panel-head{

	background-color: purple;
	height: 30px;
}

.infestor-panel-body{

    

}

.infestor-panel-rear{

	background-color: orange;
	height:30px

}

.infestor-panel-content{

	height: 100%;
	position: relative;

}

.infestor-panel-title{

}