*{

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif;
	/* color: transparent; */
}

table,td{

	border-collapse:collapse;

}

input{

    padding: 0 5px;
	border: 1px solid #bfbfbf;
	color: #444;
	height: 25px;	

}

input:focus{

    border-color: rgb(77, 144, 254);
    outline: none;

}

.infestor-element-remove-space{

	font-size:0px;

}

.infestor-element-inline-block{

    display: inline-block;
	*display: inline;
	*zoom: 1;
}

.infestor-element-block{

	display:block;

}

.infestor-element-table{

	display:table;

}

.infestor-element-table-cell{

	display:table-cell;
	
}

.infestor-element-float{

	float: left;

}

.infestor-element-clear{

	clear: both;

}

.infestor-element-bfc{

	zoom: 1;
	/* overflow: hidden; */
	overflow: auto;

}

.infestor-element-box-shadow{

	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.infestor-element-box-shadow-ie{

/* 	border:1px solid black; */
	background-color:#E7E7E7;

}

.infestor-element-border{

	border: 1px solid #ccc;
}

.infestor-element-position-relative{

    position: relative;

}

.infestor-element-position-absolute{
    
	position: absolute;

}

.infestor-element-position-fixed{

    position: fixed;

}

.infestor-element-position-clear{

	position: static;
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
}

.infestor-element-position-north{

	top: 0;
	left: 50%;
	right: auto;
	bottom: auto;
/* 	margin-left: -100px;  half of element width*/ 

}

.infestor-element-position-south{

	bottom: 0;
	left: 50%;
	top: auto;
	right: auto;
/* 	margin-left: -100px; half of element width*/

}

.infestor-element-position-east{

	right: 0;
	top: 50%;
	left: auto;
	bottom: auto;
/* 	margin-top: -50px;  half of element height */

}

.infestor-element-position-west{

	left: 0;
	top: 50%;
	right: auto;
	bottom: auto;
/* 	margin-top: -50px;  half of element height*/

}

.infestor-element-position-center{

	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
/* 	margin-left: -100px; half of element width*/
/* 	margin-top: -50px; half of element height*/

}

.infestor-element-position-north-east{

	top: 0;
	right: 0;
	left: auto;
	bottom: auto;
}

.infestor-element-position-north-west{

	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
}

.infestor-element-position-south-east{

	right: 0;
	bottom: 0;
	left: auto;
	top: auto;
}

.infestor-element-position-south-west{

	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
}

.infestor-element-resizable-trigger{


}

.infestor-element-mask , .infestor-element-global-mask{

	position:absolute;
	text-align:center;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:white;
	filter:alpha(opacity=70); 
	opacity:0.7;
	overflow:auto;
	
}

.infestor-element-global-mask{

	position:fixed;
	_position:absolute;

}

.infestor-element-text{

	text-indent: 2em;
	line-height:25px;
	word-wrap: break-word;
	white-space: normal;

}




