
.infestor-tree-node{

	text-align:left;

}

.infestor-tree-node-cell{

	height: 16px;
	width: 16px;

}

.infestor-tree-node-space-cell{


}

.infestor-tree-node-switch-cell{

	background-position:-2px -2px;

}

.infestor-tree-node-expand-switch-cell{

	background-image:url(../images/arrow-down.gif);


}

.infestor-tree-node-collapse-switch-cell{

	background-image:url(../images/arrow-right.gif);

}

.infestor-tree-node-non-switch-cell{


}

.infestor-tree-node-check-cell{
}
	
.infestor-tree-node-uncheck-cell{
}
	
.infestor-tree-node-half-check-cell{
}

.infestor-tree-node-icon-cell{


}
	
.infestor-tree-node-expand-icon-cell{

	background-image:url(../images/folder-page-white.png)}
	
.infestor-tree-node-collapse-icon-cell{

	background-image:url(../images/folder.png);}
	
.infestor-tree-node-normal-icon-cell{

	background-image:url(../images/page-white.png);}

.infestor-tree-node-text-cell{

	vertical-align:top;
	margin: 0 5px;
	}

.