
.infestor-tree-node{

	text-align:left;

}

.infestor-tree-node-cell{

	height: 16px;
	width: 16px;

}

.infestor-tree-node-space-cell{

	background-color:red;

}

.infestor-tree-node-expand-switch-cell{



}

.infestor-tree-node-collapse-switch-cell{



}

.infestor-tree-node-non-switch-cell{

	background-color:blue;
}

.infestor-tree-node-check-cell{
}
	
.infestor-tree-node-uncheck-cell{
}
	
.infestor-tree-node-half-check-cell{
}
	
.infestor-tree-node-expand-icon-cell{
}
	
.infestor-tree-node-collapse-icon-cell{
}
	
.infestor-tree-node-normal-icon-cell{

	background-color:green;}

.infestor-tree-node-text-cell{

	vertical-align:top;
	margin: 0 5px;
	}

.