 
 .infestor-button{
 
	
	
 }
 
 .infestor-button-body{
 
	vertical-align: middle; 
	text-align:center;
	cursor:pointer;
	padding:5px 10px;
	font-weight:bold;
	background-color: #8A2BE2;
	color:#FFFFFF;
	letter-spacing: 0.1em;
 
 }
 
 .infestor-button-head{
 
 
 }
 
 .infestor-button-rear{
 
 
 }
 
 .infestor-button-icon{
 
	padding:0px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:auto;
	background-color:transparent;
	
 }
 
 .infestor-button-icon-image{
 
	background-image:url(../images/chain-node-hover.png);
	
 }
 