
/* grid */

.infestor-grid{

	font-size: 12px;

}

.infestor-grid-head{

	height: 30px;
	line-height:30px;

}

.infestor-grid-column-head-cell{
	
	text-align: center;
	font-weight: bold;

}

.infestor-grid-body{


}

.infestor-grid-body-container{


}

.infestor-grid-body-row{

	height : 25px;
	line-height:35px;
	text-align: center;

}

/* tree */

.infestor-tree-node{

	text-align:left;

}

.infestor-tree-node-cell{

	height: 22px;
	width: 22px;

}

.infestor-tree-node-space{

	background-image:none;
}

.infestor-tree-node-space:hover{

	background-image:none;

}

.infestor-tree-node-switch{

}

.infestor-tree-node-expand-switch{

	background-position:-314px -216px;

}

.infestor-tree-node-collapse-switch{

	background-position:-364px -216px;

}

.infestor-tree-node-loading-switch{

	background-position:0 0;
	background-image:url(../images/node-loading-22.gif);

}

.infestor-tree-node-non-switch{

	background-image:none;

}

.infestor-tree-node-non-switch:hover{

	background-image:none;

}

.infestor-tree-node-check{

}
	
.infestor-tree-node-icon{


}
	
.infestor-tree-node-expand-icon{

	background-position:-339px -16px;

}
	
.infestor-tree-node-collapse-icon{

	background-position:-289px -56px;
	
}
	
.infestor-tree-node-normal-icon{

	background-position:-364px -16px;
}

.infestor-tree-node-loading-icon{

	background-image:url(../images/loading-small.gif);
}

.infestor-tree-node-text{

	vertical-align:top;
	margin: 0 5px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	
	line-height:22px;
	max-width:200px;
	cursor:default;
	
	text-decoration:underline;
	
}

.infestor-tree-node-editor{


}

.infestor-tree-node-editor-item{

	margin:0 2px;
	cursor:pointer;
	text-decoration:underline;
	vertical-align:middle;
	
}

.infestor-tree-node-editor-item-input{

	width:100px;
	border:0;
	cursor:auto;
}

.infestor-tree-node-editor-item-confirm{

	background-position:-314px -56px;

}

.infestor-tree-node-editor-item-cancel{

	background-position:-339px -56px;

}



.