

.infestor-form{

	padding: 10px 0 5px 15px;

}

/**************
	
	field

***************/

.infestor-field{
	
	position: relative;
	margin: 0 15px 5px 0;
	padding: 5px 25px 5px 10px;
	*display:inline;
	*zoom:1;
}

.infestor-field input{

	width:150px;

}

.infestor-field-label{
	
	display: block;
	cursor: pointer;
}

.infestor-field-left{

	padding:0 10px 0 0;

}

.infestor-field-right{

	padding:0 0 0 10px;
	
}

.infestor-field-top{

	padding:0 0 5px 0.5em;

}

.infestor-field-content{

    display: block;
	position:relative;
}

.infestor-field-status{

	position:absolute;
	top:5px;
	right:-20px;
	width:16px;
	height:16px;

}

.infestor-field-status-error{

	background-image:url(../images/delete.png);

}

.infestor-field-status-passed{

	background-image:url(../images/accept.png);

}


/********

	captcha-field

***********/


.infestor-captcha-field{

	padding-right:10px;

}


.infestor-captcha-field img{

	display:block;
	height:24px;
	width:82px;
	cursor:pointer;
	margin:0 8px 0 -8px;
}

.infestor-captcha-field input{

	width:71px;
}

.infestor-captcha-field  .infestor-field-status{

	right:-98px;

}


/***************


	model-captcha-field


**********************/


.infestor-model-captcha-field{

	

}


.infestor-model-captcha-input{

	width:160px;
	border:1px solid #bfbfbf;

}

.infestor-model-captcha-input:focus{

	border-color: rgb(77, 144, 254);
    outline: none;

}

.infestor-model-captcha-input-cell{

	width:30px;
	height:30px;
	margin-left:2px;

}

.infestor-model-captcha-control-panel{

	padding:5px;

}

.infestor-model-captcha-control-panel-head{


}

.infestor-model-captcha-control-panel-head-captcha{

	margin: 0 15px;
	height:40px;
	width:115px;
	
}

.infestor-model-captcha-control-panel-head-backspace{

	height:30px;
	width:30px;
	background-repeat:no-repeat;
	background-image:url(../images/win-ctrl-icons-16.png);
	background-position:-64px -4px;

}

.infestor-model-captcha-control-panel-body{

	width:200px;

}

.infestor-model-captcha-control-panel-body-cell{

	width:30px;
	height:30px;
	margin:10px;
	cursor:pointer;

}



/********

	combo-field

***********/

.infestor-combo-field{

	padding-right:46px;

}

.infestor-combo-field input{

	width:129px;

}

.infestor-combo-field  .infestor-field-status{

	right:-42px;

}

.infestor-combo-field-drop-down-trigger{

	position:absolute;
	top:0px;
	right:-23px;
	background-color:#FFFFFF;
	height:15px;
	width:10px;
	padding: 10px 5px 0;
	border:1px solid #BFBFBF;
	cursor:pointer;

}

.infestor-combo-field-drop-down-panel{

	background-color:#FFFFFF;
	outline:0;

}

.infestor-combo-field-drop-down-item{
	
	height:25px;
	line-height:24px;
	cursor:pointer;
	padding:0 5px;

}

.infestor-combo-field-drop-down-active-item{

	background-color:orange;

}

