

.infestor-form{

	padding: 10px 0 5px 15px;

}

/**************
	
	field

***************/

.infestor-field{
	
	position: relative;
	margin: 0 15px 5px 0;
	padding: 5px 25px 5px 10px;
	*display:inline;
	*zoom:1;
}

.infestor-field-label{
	
	display: block;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;

}

.infestor-field-left{

	padding:0 10px 0 0;

}

.infestor-field-right{

	padding:0 0 0 10px;
	
}

.infestor-field-top{

	padding:0 0 5px 0.5em;

}

.infestor-field-content{

    display: block;
	position:relative;
}

.infestor-field-status{

	position:absolute;
	top:5px;
	right:-20px;
	width:16px;
	height:16px;

}

.infestor-field-status-error{

	background-image:url(../images/delete.png);

}

.infestor-field-status-passed{

	background-image:url(../images/accept.png);

}


/********

	captcha-field

***********/


.infestor-captcha-field{

	padding-right:10px;

}


.infestor-captcha-field img{

	display:block;
	height:24px;
	cursor:pointer;
	margin:0 8px;


}

.infestor-captcha-field input{

	width:60px;
}




