
/* grid */

.infestor-grid{

	font-size: 12px;

}

.infestor-grid-head{

	height: 30px;
	line-height:30px;

}

.infestor-grid-column-head-cell{
	
	text-align: center;
	font-weight: bold;

}

.infestor-grid-body{


}

.infestor-grid-body-container{


}

.infestor-grid-body-row{

	height : 25px;
	line-height:35px;
	text-align: center;

}

/* tree */

.infestor-tree-node{

	text-align:left;

}

.infestor-tree-node-cell{

	height: 16px;
	width: 16px;

}

.infestor-tree-node-space{


}

.infestor-tree-node-switch{

	background-repeat:no-repeat;
	background-position:-2px -2px;

}

.infestor-tree-node-expand-switch{

	background-image:url(../images/arrow-down.gif);

}

.infestor-tree-node-collapse-switch{

	background-image:url(../images/arrow-right.gif);

}

.infestor-tree-node-loading-switch{

	background-position:0 0;
	background-image:url(../images/loading-tiny.gif);

}

.infestor-tree-node-non-switch{


}

.infestor-tree-node-check{

}
	
.infestor-tree-node-icon{

	background-repeat:no-repeat;

}
	
.infestor-tree-node-expand-icon{

	background-image:url(../images/folder-page-white.png)
}
	
.infestor-tree-node-collapse-icon{

	background-image:url(../images/folder.png);
}
	
.infestor-tree-node-normal-icon{

	background-image:url(../images/page-white.png);
}

.infestor-tree-node-loading-icon{

	background-image:url(../images/loading-small.gif);
}

.infestor-tree-node-text{

	vertical-align:top;
	margin: 0 5px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	
	max-width:200px;
	cursor:default;
	
}

.infestor-tree-node-editor{


}

.infestor-tree-node-editor-item{

	display:inline;
	margin:0 2px;
	cursor:pointer;
	text-decoration:underline;
	
}

.infestor-tree-node-editor-item-input{

	width:100px;
	border:0;
	cursor:auto;
}

.infestor-tree-node-focus{

	background-image:url(../images/accept.png);

}

.