
/* grid */

.infestor-grid{

	font-size: 12px;

}

.infestor-grid-head{

	height: 30px;
	line-height:30px;

}

.infestor-grid-column-head-cell{
	
	text-align: center;
	font-weight: bold;
	padding:3px;

}

.infestor-grid-column-inner-cell{

	padding: 3px;
	line-height: 20px;

}

.infestor-grid-body{


}

.infestor-grid-body-container{


}

.infestor-grid-body-row{

	height : 25px;
	line-height:35px;
	text-align: center;

}

/* tree */

.infestor-tree{

	font-size: 12px;

}

.infestor-tree td{

	vertical-align:top;
}

.infestor-tree-node{

	text-align:left;
	overflow: hidden;

}

.infestor-tree-node-cell{

	height: 22px;
	width: 22px;

}

.infestor-tree-node-space{

	background-image:none;
}

.infestor-tree-node-space:hover{

	background-image:none;

}

.infestor-tree-node-switch{

}


.infestor-tree-node-loading-switch{

	background-position:0 0;
	background-image:url(../images/node-loading-22.gif);

}

.infestor-tree-node-non-switch{

	background-image:none;

}

.infestor-tree-node-non-switch:hover{

	background-image:none;

}

.infestor-tree-node-check{

}
	
.infestor-tree-node-icon{


}

.infestor-tree-node-loading-icon{

	background-image:url(../images/node-loading-22.gif);
}

.infestor-tree-node-text{

	vertical-align:top;
	margin: 0 5px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	
	line-height:22px;
	max-width:200px;
	cursor:default;
	
	text-decoration:underline;
	
}

.infestor-tree-node-editor{


}

.infestor-tree-node-editor-item{

	cursor:pointer;
	text-decoration:underline;
	vertical-align:middle;
	
}

.infestor-tree-node-editor-item-input{

	width:100px;
	border:0;
	cursor:auto;
}




.