

.infestor-window{

	width:300px;
	padding:10px;

}

.infestor-window-head{

	position: relative;
	height: 45px;
}

.infestor-window-title{

	line-height: 45px;
	text-indent: 1em;
	font-weight: bold;
	font-size: 1.5em;

}

.infestor-window-body{

	padding:10px;

}

.infestor-window-rear{

	position: relative;
	height:25px;
	
}



