
/* iframe */

.infestor-widget-iframe-panel-head{

	margin-bottom: 5px;
	position:relative;

}

.infestor-widget-iframe-panel-title{

	/* text-indent: 1em; */
	vertical-align:middle;
	font-weight: bold;
	line-height: 25px;

}

.infestor-widget-iframe-panel-body{

	position:relative;
	overflow:hidden;


}

.infestor-widget-iframe-panel-head-item{

	vertical-align:middle;
	line-height:25px;
	padding:0 2px;
	text-decoration: underline;
	cursor:pointer;

}


/* chain-menu */

.infestor-widget-chain-menu{


}

.infestor-widget-chain-menu-separator-h{

	height:44px;
	width:8px;
	/* background-color:blue; */
}

.infestor-widget-chain-menu-separator-v{

	height:8px;
	width:44px;
	/* background-color:green; */
}

.infestor-widget-chain-menu-item{


}

.infestor-widget-chain-menu-node{

	cursor: pointer;

}

.infestor-widget-chain-menu-item-vertical{

	width:44px;

}


/* circular-menu */

.infestor-widget-circular-menu{

	position:fixed;
	top:50px;
	left:50px;	
}

.infestor-widget-circular-menu-container{

	position:relative;
	
	height:44px;
	width:44px;

}

.infestor-widget-circular-menu-item{

	position:absolute;
	cursor:pointer;

}

.infestor-widget-circular-menu-item-pos-center{

	top:0;
	left:0;
}

.infestor-widget-circular-menu-item-pos-north{

	top:-50px;
	left:0;

}

.infestor-widget-circular-menu-item-pos-south{

	bottom:-50px;
	left:0;

}

.infestor-widget-circular-menu-item-pos-west{

	left:-50px;
	top:0;
	
}

.infestor-widget-circular-menu-item-pos-east{

	right:-50px;
	top:0;

}

.infestor-widget-circular-menu-item-pos-nw{

	top:-36px;
	left:-36px;

}

.infestor-widget-circular-menu-item-pos-ne{

	top:-36px;
	right:-36px;

}

.infestor-widget-circular-menu-item-pos-sw{
	
	bottom:-36px;
	left:-36px;

}

.infestor-widget-circular-menu-item-pos-se{

	bottom:-36px;
	right:-36px;
}





