
/* iframe */

.infestor-widget-iframe-panel-head{

	height:30px;

}

.infestor-widget-iframe-panel-title{

	text-indent: 1em;
	vertical-align:center;
	font-weight: bold;
	line-height: 25px;

}

.infestor-widget-iframe-panel-body{

	position:relative;
	overflow:hidden;


}

.infestor-widget-iframe-panel-head-item{

	vertical-align:center;
	line-height:25px;
	padding:0 2px;
	text-decoration: underline;
	cursor:pointer;

}


/* chain-menu */

.infestor-widget-chain-menu{

	width: 35px;

}

.infestor-widget-chain-menu-line{

	width: 35px;
	height: 23px;
	text-align: center;
}

.infestor-widget-chain-menu-line div{

	background-color: #1c62a3;
	width: 6px;
	height: 23px;
	display: inline-block;
	*display: inline;
	*zoom: 1;

}

.infestor-widget-chain-menu-horizon-line{

	width: 23px;
	height: 23px;
	text-align: center;

}

.infestor-widget-chain-menu-horizon-line div{

	background-color: #1c62a3;
	width:23px;
	height:6px;
	display:inline-block;
	*display: inline;
	*zoom: 1;

}

.infestor-widget-chain-menu-node{

	background-image: url(../images/chain-node.png);
	height: 35px;
	width: 35px;
	cursor: pointer;

}

.infestor-widget-chain-menu-node-hover{

	background-image: url(../images/chain-node-hover.png);
}

/* circular-menu */

.infestor-widget-circular-menu{

	position:fixed;
	top:50px;
	left:50px;
	
	height:35px;
	width:35px;
	
	background-color:blue;
	
}

.infestor-widget-circular-menu-container{

	position:absolute;
	
	top:-35px;
	left:-35px;

	height:105px;
	width:105px;
	
	background-color:transparent;
	outline:1px solid green;

}

.infestor-widget-circular-menu-item{

	height:35px;
	width:35px;
	background-color:transparent;
	outline:1px solid orange;

}

.infestor-widget-circular-menu-item-center{

}

.infestor-widget-circular-menu-item-north{

}

.infestor-widget-circular-menu-item-south{

}

.infestor-widget-circular-menu-item-west{

}

.infestor-widget-circular-menu-item-east{

}

.infestor-widget-circular-menu-item-nw{

}

.infestor-widget-circular-menu-item-ne{

}

.infestor-widget-circular-menu-item-sw{

}

.infestor-widget-circular-menu-item-se{

}




